@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-60.woff);
    font-weight: normal;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-90.woff);
    font-weight: 300;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-130.woff);
    font-weight: 500;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-150.woff);
    font-weight: bold;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-Condensed-60.woff);
    font-weight: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-Condensed-90.woff);
    font-weight: 300;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-Condensed-130.woff);
    font-weight: 500;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans;
    src: url(./fonts/authenticsans-Condensed-150.woff);
    font-weight: bold;
    font-stretch: condensed;
}

body {
    font-style: ;
}

nav {
    padding: 1em 0 0 0;
        display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    font-family: 'authentic sans';
    font-weight: 500;
    font-stretch: condensed;
}

.menu-item {
    display: inline-block;
    text-transform: Capitalize;
    border-style: none none solid none;
    border-width: .125rem;
    border-color: lightslategray;
    border-radius: 25%;
    text-align: center;
    text-decoration: none;
    height: 2.5vw;
    width: 7.5vw;
    line-height: 2.75vw;
    font-size: 1.5vw;
    margin: 0.25em;
}
