@font-face {
    font-family: authentic sans 60;
    src: url(./fonts/authenticsans-60.woff);
    font-weight: normal;
}

@font-face {
    font-family: authentic sans 90;
    src: url(./fonts/authenticsans-90.woff);
    font-weight: 300;
}

@font-face {
    font-family: authentic sans 130;
    src: url(./fonts/authenticsans-130.woff);
    font-weight: 500;
}

@font-face {
    font-family: authentic sans 150;
    src: url(./fonts/authenticsans-150.woff);
    font-weight: bold;
}

@font-face {
    font-family: authentic sans condensed 60;
    src: url(./fonts/authenticsans-Condensed-60.woff);
    font-weight: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans condensed 90;
    src: url(./fonts/authenticsans-Condensed-90.woff);
    font-weight: 300;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans condensed 130;
    src: url(./fonts/authenticsans-Condensed-130.woff);
    font-weight: 500;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans condensed 150;
    src: url(./fonts/authenticsans-Condensed-150.woff);
    font-weight: bold;
    font-stretch: condensed;
}

@font-face {
    font-family: MissFajardose-Regular;
    src: url(./fonts/MissFajardose-Regular.ttf);
}

@font-face {
    font-family: PPEditorialNew Thin Italic;
    src: url(./fonts/PPEditorialNew-ThinItalic.otf);
}

@font-face {
    font-family: PPEditorialNew Thin;
    src: url(./fonts/PPEditorialNew-Thin.otf);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: black;
    font-size: 1.5vw;
    font-family: 'authentic sans 60', arial, sans-serif;
    color: aliceblue;
}

header {
    color: darkgray;
    font-family: 'authentic sans 90', arial, sans-serif;
}

a {
    text-decoration: none;
    color: darkgrey;
}

a:hover{
    color: crimson;
    font-size: 1.75vw;
}

nav {
    padding: 1em 0 0 0;
        display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    font-family: 'authentic sans';
    font-weight: 300;
    font-stretch: condensed;
}

div {
    padding: 1vw;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.menu-item {
    display: inline-block;
    text-transform: Capitalize;
    border-style: none none solid none;
    border-width: .125rem;
    border-color: lightslategray;
    border-radius: 25%;
    text-align: center;
    height: 2.5vw;
    width: 7.5vw;
    line-height: 2.75vw;
    margin: 0.25em;
}

.logo {
    width: 5vw;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
}

#rotating-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

#content {
    padding: 20px;
    display: none;
}

#font {
    font-family: PPEditorialNew Thin Italic;
}
