@font-face {
    font-family: AlteHaasGrotesk;
    src: url(AlteHaasGrotesk.woff);
}

body {
    font-style: normal;
}

.menu-item {
    display: inline-block;
    text-transform: Capitalize;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    height: 20vw;
    width: 20vw;
    line-height: 19vw;
    font-size: .75em;
    margin: 0.25em;
}

nav {
    padding: 1em 0 0 0;
        display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}